body{
	margin: 0;
}
div{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 100px;
	box-shadow: 0 0 10px #e8dfdf42;
	padding: 50px;
}
h1{
    font-size: 70px;
    color: #333;
    text-shadow: 4px 4px 10px #ada8a8;
}
.Color1{
	color: red
}
.Color2{
	color: green
}
p{
    font-size: 30px;
    line-height: 1.3;
    color: #484848;
}
img{
	max-width: 100%;
}